@import "./utils/fonts";
@import "./utils/mixins";
@import "./utils/vars";

.auth-page {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 413px;
  border: 2px solid $main-color;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  background-color: $color-white;
  border-top: none;
  padding: 30px 10px;

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    // justify-content: center;
  }

  &__input {
    border-top: none;
    border-left: none;
    border-right: none;
    width: 361px;
    height: 40px;

    font-family: 'Poppins-Regular', sans-serif;
    font-size: 14px;

    @include onMobile {
      width: 200px;
    }

    &:focus {
      border-top: none;
      border-left: none;
      border-right: none;
    }
  }

  &__button {
    width: 150px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Poppins-Regular', sans-serif;
    border-radius: 12px;
    border: 2px solid $main-color;
    background-color: $main-color;
    color: $color-white;
    cursor: pointer;

    transition: transform 0.3s;
    
    &:hover {
      background-color: $color-white;
      color: $main-color;
      box-shadow: 0 0 3px 0 $main-color;
    }
  }

  &__text {
    font-family: 'Poppins-Regular', sans-serif;
    border-radius: 12px;

    &--link {
      text-decoration: none;
    }
  }
}